<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>データ入力</title>
    <link rel="stylesheet" href="/static/markdown7.css" type="text/css" />
  </head>
  <body>
    <h2>データの追加</h2>
    <p>
      <form action="/insert">
        <label>
          単語
          <input type="text" name="in_word" />
        </label>
        <label>
          意味
          <input type="text" name="in_mean" />
        </label>
        <button type="submit" formmethod="POST">登録</button>
      </form>
    </p>
  </body>
</html>
